html, body{
  margin:0px;
  padding:0px;
  width:100%;
  font-size:15px;
  font-family:century gothic;
}
div, p, h1,  h3, h4, h5, ul, li, a, span{
  margin:0px;
  padding:0px;
}
h2{
  color: midnightblue;
  font-family: century gothic;
  font-size: small;
}
.clear{
  clear:both;
}
#conteneur-id{
  width:100%;
}
#conteneur-menu{

}
.menu{
  width:100%;
  background-color:white;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.2);
  margin:auto;
  text-align:center;
  position:fixed;
  z-index:999;
}
.menu ul{
  width:100%;
  margin:auto;
  padding:15px 0px;
}
.menu li{
  display:inline-block;
  padding:5px;
}
.menu a{
  text-decoration:none;
  color:black;
 
  transition:0.4s;
  padding:5px 25px;
}
.menu a:hover{
  text-decoration:none;
  
  
  transition:0.2s;
}


/*HOME*/
#conteneur-home{
  width:100%;
  background:url(https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) fixed 100% no-repeat;
  background-size:cover;
  padding:159.5px 0px 100px 0px;
  text-align:center;
}
.home{
  width:100%;
}
.home h1{
  font-weight:100;
  font-size:50px;
  color:#EEE;
  padding:0px 0px 5px 0px;
}
.home h2{
  font-weight:100;
  font-size:30px;
  color:#DDD;
  text-transform:uppercase;
}
/*ABOUT*/
#conteneur-about{
  padding:100px 0px;
}
.about{
  max-width:960px;
  width:100%;
  margin:auto;
}
.profil-photo{
  width:50%;
  float:left;
}
.profil-photo img{
  width:90%;
}
.profil-text{
  width:30%;
  float:left;
  position:relative;

}
.profil-text h2{
  padding-bottom:10px;
  font-size:15px;
  font-weight:50;
  color: midnightblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  
}
.profil-text p{
padding-bottom:75px;
text-align:justify;
}
.profil-text a{
  position:absolute;
  bottom:0px;
  left:0px;
  text-decoration:none;
  color:black;
  background-color:#DDD;
  transition:0.4s;
  padding:5px 25px;
  border:1px solid white;
}
.profil-text a:hover{
  text-decoration:none;
  color:#999;
  border:1px solid #999;
  background-color:#FFF;
  transition:0.1s;
}

/*SKILLS*/
#conteneur-skills{
  padding:70px 10px;
  background-color:#EEE;
}
.skills{
  max-width:400px;
  width:30%;
  font-size: x-small;
  margin:10px 300px ;
}
.title h2{
  padding-top: 300px;
  font-size:20px;
  font-weight:bold;  
  text-align:center;
  text-transform:uppercase;
  color: rgba(0,0,0,0.75);}
  .title p{
    padding-bottom:75px;
    text-align:justify;
    width:100%;
    margin:auto;
  }
  .bardiv{
    width:90%;
    margin:auto;
  }
  .bardiv h3{
    font-size: large;
    padding-bottom:10px;
    color: rgba(0,0,0,0.75);
  }
  .progressbar{
    width:120%;
    margin:auto;
    height:10px;
    background-color:black;
    position:relative;
    margin-bottom:5px;
    border-radius: 25px;
  }
  .progressbar span{
    height:10px;
    
    z-index:888;
    position:absolute;
    top:0px;
    left:0px;
    border-radius: 25px;
  }
  .html{
    width:80%;
    background-color:#ff751a;
  }
  .java{
    width:90%;
    background-color:#ff1a1a;
  }
  .css{
    width:65%;
    background-color:#1a8cff;
  }
  .c{
    width:75%;
    background-color: #990073;
  }
  
  .sql{
    width:75%;
    background-color: #000099;

    
}





/*DIPLOMA*/
#conteneur-qualification{
  padding:100px 0px;
}
.qualification{
  max-width:960px;
  width:100%;
  margin:auto;
  text-align:center;
}
.qualification h2{
  padding-bottom:50px;
  font-size:25px;
  font-weight:100;
  text-transform:uppercase;
}
.lastqualification{
  padding-left:25px;
  padding-bottom:25px;
}
.lastqualification h3{
  font-size:20px;
  padding-bottom:5px;
  font-weight:100;
}
.lastqualification h4{
  font-size:17px;
  padding-bottom:5px;
  font-weight:100;
  color:#999;
}
.othqualification{
  padding-left:25px;
  padding-bottom:25px;
}
.othqualification h3{
  font-size:17px;
  padding-bottom:5px;
  font-weight:100;
}
.othqualification h4{
  font-size:15px;
  padding-bottom:5px;
  font-weight:100;
  color:#999;
}
/*PORTFOLIO*/
#conteneur-portfolio{
  padding:100px 0px;
  background-color:#EEE;
}
.portfolio{
  max-width:960px;
  width:100%;
  margin:auto;
  text-align:center;
}
.portfolio h2{
  padding-bottom:50px;
  font-size:25px;
  font-weight:100;
  text-transform:uppercase;
}
.conteneur-portfolio h2{
  padding-bottom:100px;
  font-size:80px;
  color:#000;
  text-align:center;
}
.conteneur-miniature-left{
  box-shadow:0 0 20px 1px rgba(0,0,0,0.25);
  transition:.4s;
  width:47.5%;
  margin-right:2.5%;
  float:left;
}
.conteneur-miniature-right{
  box-shadow:0 0 20px 1px rgba(0,0,0,0.25);
  transition:.4s;
  width:47.5%;
  margin-left:2.5%;
  float:left;
}
.miniature-portfolio{
  width:100%;
  height:250px;
}
.oneport{
  background:url(https://images.unsplash.com/photo-1504257365157-1496a50d48f2?w=3150&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size:cover;
}
.twoport{
  background:url(https://images.unsplash.com/photo-1495511623436-ba44aaee07cf?w=2102&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size:cover;
}
.text-miniature{
  padding:15px 30px 15px 15px;
}
.text-miniature h3{
  font-size:25px;
  padding-bottom:10px;
  font-weight:100;
}
.text-miniature h4{
  font-size:10px;
  color:#666;
  line-height:20px;
  font-weight:80;
}
.text-miniature h5{
  font-size:15px;
  color:#999;
  line-height:10px;
  font-weight:80;
}
.conteneur-miniature-one:hover{
  box-shadow:0 0 20px 1px rgba(0,0,0,0.75);
  transition:.4s;
}
/*CONTACT*/
#conteneur-contact{
  padding:100px 0px;
  background:url(https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) fixed 100% no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background-size:cover;
}

.contact{
  max-width:660px;
  width:100%;
  margin:auto;
  text-align:center;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.contact h2{
  padding-bottom:50px;
  font-size:25px;
  font-weight:100;
  text-transform:uppercase;
  color:#FFF;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.input h3{
	margin-top:15px;
	margin-bottom:7px;
	color:#fff;
	font-size:15px;
  font-weight:100;
  text-align:center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.input textarea{
	margin-bottom:10px;
  
}
input[type="email"], input[type="text"],  textarea{
	height:20px;
	width:80%;
	padding:2.5px 8px;
	background-color:rgba(48, 42, 42, 0.4);
	border:none;
	border-bottom:1px solid #E3E3E3;
	box-shadow:none;
	box-sizing:border-box;
	border-radius:0;
	outline:none;
  color:#fff;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}
textarea{
	min-height:80px;
	max-height:80px;
	max-width:100%;
	max-width:100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
input[type="submit"]{
	font-size:17px;
	width:80%;
	display:inline-block;
	height:25px;
	padding:0 30px;
	text-align:center;
	font-weight:100;
	line-height:20px;
	text-transform:uppercase;
	text-decoration:none;
	white-space:nowrap;
	border-radius:0px;
	border:0;
	cursor:pointer;
	box-sizing:border-box;
	color:white;
	background-color:rgba(0,0,0,0.5);
	transition:0.4s;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
input[type="submit"]:hover{
	background-color:#FFF;
	color:#000;
	text-decoration:none;
	transition:0.4s;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#conteneur-footer{
  padding:10px 1px;
  background-color:#000;
  color:#FFF;
  text-align:right;
}
.footer a{
  color:#FFF;
  text-decoration:none;
  padding-top:50px;
  transition:0.4s;
  padding-right: 10px;
  font-size: 15px;
}
.footer a:hover{
  color:rgb(8, 8, 8);
  text-decoration:none;
  transition:0.4s;
}
table tr th{
  background:#337ab7;
  color:white;
  text-align:left;
  vertical-align:center;
}
